

html {
  height: 100%;
  width: 100%
}
body {
  min-width: 100%
  min-height: 100%;
  background: #2A363B;
}


  /* landing page top */
  .we{
    position:absolute;
    top: 45%;
    left: 14%;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 176px;
    color: #FFF;
}

.hi {
  position: relative;
  width:100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  color: #99B898 ;
}

  span:before{
    content: '';
    animation: animate infinite 12s;
  }

  @keyframes animate {
    0%{
      content: ' a Farmily.';
    }

    20%{
      content: ' empowering farmers.';
    }

    40%{
      content: ' reducing waste.';
    }

    60%{
      content: ' connecting communities.';
    }

    80%{
      content: ' working together.';
    }

    100%{
      content: ' stronger together.';
    }
  }

  .farmily-corner {
    position: absolute;
    width: 300px;
    height: 180px;
    left: 3%;
    top: 3%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
    line-height: 44px;
    letter-spacing: 0.06em;
    color: #FFF;
  }

  .farmer-button {
    position: absolute;
    width: 300px;
    height:150px;
    right: 3%;
    top: 3%;
    background-color: #2A363B;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 360%;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
  }

  .farmer-button:hover {
    background-color: #99B898;
    color: #2A363B;
    transition-duration: 400ms;
  }

  .food-button {
    position: absolute;
    width: 1250px;
    height: 190px;
    left: 14%;
    top: 37%;
    border: none;
    background-color: #2A363B;

    font-family: Montserrat;
    font-style: style;
    font-weight: 1000;
    font-size: 1100%;
    letter-spacing: 0.10em;

    color: #FECEAB;
  }

  .food-button:hover {
    background-color: #FECEAB;
    color: #2A363B;
    transition-duration: 400ms;
  }

  /* .logo {
    position: absolute;
  width: 147px;
  height: 285px;
  left: 989px;
  top: 342px;
  } */
