body {
  position: relative;
  width: 1440px;
  height: 900px;

  background: #99B898;
}

.welcome {
  position: absolute;
  width: 700px;
  height: 88px;
  left: 35%;
  top: 8%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #FECEAB;
}

.line {
  position: absolute;
  width: 80%;
  height: 0px;
  left: 17%;
  top: 25%;
  text-align:center;

  border: 8px solid #FECEAB;
}

.login {
  position: absolute;
  width: 500px;
  height: 78px;
  left: 40%;
  top: 25%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.06em;

  color: #2A363B;
}

.email {
  position: absolute;
  width: 115px;
  height: 44px;
  left: 44%;
  top: 43%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #2A363B;
}

.email-input {
  position: absolute;
  top: 61px;
  width: 397.99px;
  height: 37.15px;
  background: #FFFFFF;
  border: 5px solid #2A363B;
  box-sizing: border-box;
}

.password {
  position: absolute;
  width: 198px;
  height: 44px;
  left: 44%;
  top: 58%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  letter-spacing: 0.06em;

  color: #2A363B;

}

.password-input {
  position: absolute;
  top: 61px;
  width: 397.99px;
  height: 37.15px;

  background: #FFFFFF;
  border: 5px solid #2A363B;
  box-sizing: border-box;
}

.log-in {
  position: absolute;
  width: 331px;
  height: 112px;
  left: 46%;
  top: 75%;
  background: #99B898;

  border: 5px solid #2A363B;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.06em;

  color: #2A363B;
}

.log-in:hover {
  background-color: #2A363B;
  color: #99B898;
  transition-duration: 400ms;
}

.logo{
  position: absolute;
  width: 44px;
  height: 90px;
  left: 23px;
  top: 25px;
}
