body {
  position: relative;
  width: 1440px;
  height: 900px;

  background: #FECEAB;
}

.logo {
  position: absolute;
  width: 44px;
  height: 90px;
  left: 40px;
  top: 39px;

}

.welcome {
  position: absolute;
  width: 1265px;
  height: 352px;
  left: 87px;
  top: 182px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 176px;
  letter-spacing: 0.06em;

  color: #FFFFFF;
}

.change {
  color: #99B898;
}

.line {
  position: absolute;
  width: 758px;
  height: 0px;
  left: 84px;
  top: 620px;

  border: 8px solid #FFFFFF;
}

.want-to-see {
  position: absolute;
  width: 1123px;
  height: 59px;
  left: 158px;
  top: 630px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.06em;

  color: #FFFFFF;
}

.num-input {
  position: relative;
  left: 0px;
  top: -13px;
  width: 103px;
  height: 50px;
  background: #FFFFFF;
}

.continue-button {
  position: absolute;
  width: 363px;
  height: 82px;
  left: 538px;
  top: 800px;

  border: 10px solid #FFFFFF;
  box-sizing: border-box;
  background: #FECEAB;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 59px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.06em;

  color: #FFFFFF;
}

.continue-button:hover {
  background-color: #FFFFFF;
  color: #FECEAB;
  transition-duration: 400ms;
}
